@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

.App{
    min-height:100vh;
    display:flex;
    background-color:black;
    /* background-color:#28282B; */
    color:#F4EEE0;
}
.App1{
    min-height:100vh;
    display:flex;
    background-color:'#121212';
}

::-webkit-scrollbar{
    width:0px;
}

::-webkit-scrollbar-thumb{
    background:'#121212'
}

::-webkit-scrollbar-thumb:hover{
    background:'#F4EEE0'
}

